body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.vertical-menu {
    width: 200px; /* Set a width if you like */
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}

.firstFourStepsBox{
    background-color: #54F7BC;
    border: solid 2px;
}


.stepFiveBox{
    background-color: #5485F7;
    border: solid 2px;
}

.stepOne {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.stepOne .stepOneText {
    visibility: hidden;
    width: 270px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    top: -5px;
    left: 105%;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.stepOne:hover .stepOneText {
    visibility: visible;
}

.stepTwo {
    position: relative;
    margin-left: 45px;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.stepTwo .stepTwoText {
    visibility: hidden;
    width: 270px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    top: -5px;
    left: 105%;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.stepTwo:hover .stepTwoText {
    visibility: visible;
}
